/*.7z
/*.rar
/*.zip
/reports/*
/crash_report/*
/error_snapshot/*
/fmod/pc/sfx.fsb
/fmod/pc/english.fsb
/tags/temp_scenario/*
/tags/objects/characters/masterchief/mp_masterchief/mp_masterchief.render_model
/tags/levels/*
!/tags/levels/flat
/tags/cinematics/*
/tags/sound/*
/.fsbcache/*